
        <h1>Codeal / <%= title %></h1>
 

        <section id="feed-posts">
          <h4>Posts</h4>
          <% if (locals.user) { %>
          <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content"  cols="30" rows="3" placeholder="Type here"></textarea>
                <input type="submit" value="Post">
          </form>
          <% } %>
          <div id="posts-list-container">
            <ul>
                <% for(post of posts) { %>
                <li>
                    <p>
                        <%= post.content %>
                        <br>
                        <%= post.user.name %>
                    </p>
                    <div class="post-comments">
                      <% if(locals.user) { %>
                          <form action="/comments/create" method="POST">
                              <input type="text" name="content" placeholder="Write a comment..." required>
                              <input type="hidden" name="post" value="<%= post._id %>">
                              <input type="submit" value="Comment">
                          </form>
                      <% } %>
                      <div class="post-comments-list">
                        <ul id="post-comments-<%= post._id %>">
                            <% for(comment of post.comments) { %>
                                <p>
                                    <%= comment.content %>
                                    <br>
                                    <small>
                                        <%= comment.user.name %>
                                    </small>
                                </p>
                            <% } %>
                        </ul>
                    </div>


                  </div>
                </li>    
                <% } %>
            </ul>
        </div>
        </section>